.main-calender-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    margin: 20px;
}

.calender-card{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    min-width:320px;
    max-width: 450px;
    height: auto;
    background-color: #F0F2F6;
    box-shadow: 2px 2px 8px black;
}

.date-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-image: linear-gradient(to right,#456EC6,#3499E7);
    color: #fff;
}

.icon{
    height: 25px;
    width: 25px;
}



.sub-heading{
    color: #302072;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.schedule-card{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    
    
    /* width: 100%; */
    
}

.program-type{
    display: flex;
    margin-top: 5px;
    height: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to right,#d6dad2,#56585a);
    color: #fff;
}

.events{
    display: flex;
    flex-direction: column;
    
    
}

