.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}


.sub-heading{
    color: #302072;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.main-theme-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid green; */
}
.theme-container {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    /* box-shadow: 2px 2px 5px #DBE7FE; */
    /* border: 1px solid black; */
    margin-left: 0;
    /* justify-content: center;
    align-items: center;
    padding: 20px; */
    /* margin-bottom: 20px; */
    
    
}


.subtheme-container{
    margin-top: 20px ;
}
.themes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #302072;
    font-size: 25px;
    font-weight: 500;    
    list-style-type: none;
    padding-left: 0;
   
    /* border: 1px solid yellow; */
    
}

.subtheme-name{
    color: #7970B6;
    font-size: 16px;
    margin-left: 30px;
   
}

.right-align-container{
    align-self: flex-end;
   
}

.theme-right-align{
    order: 1;
}

.image{
    width: 30%;
}

