.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: linear-gradient(to right,#466CC4,#3498E7); 
    height: auto;
    padding: 20px;
    
}

.social-icons{
    font-size: 40px;
    margin-right: 20px;
}

.name{
    font-size: 20px;
    font-weight: 500;
}

.address-bar{
    display: flex;
    /* align-self: flex-end; */
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
}

@media screen and (max-width:674px) {
    .address-bar{
        margin-left: 20px;
    }
}